/********** Global Styles **********/
body {color:#5b5b5b;}
h4 {color:#ffffff;}
p {color:#5b5b5b;}
a {color:#ffffff;}
a:active, a:focus, a:hover, input {color:#003253;}
em {color:#ffffff;}
label {color:#ffffff;}
.button {background:#003253;}
.button:hover {background:#FBDAAA;}
/********** Header **********/
/***** Naviigation *****/
nav:active {background:#003253;}
.top-bar {background:#003253;}
.top-bar .name h1 a:hover {color:#ffffff;}
.top-bar-section {background:#003253;}
.top-bar-section li:not(.has-form) a:not(.button) {background:#003253;color:#ffffff;}
.top-bar-section li:not(.has-form) a:not(.button):hover {background:#003253;color:#030A16;}
.title-area {background:#003253;}
.top-bar.expanded .title-area {background:#003253;}
.top-bar.expanded .toggle-topbar a {color:#fff;}
.top-bar.expanded .toggle-topbar a span::after {box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;}
/********** Content **********/
#about-me {background:#030A16;}
#about-me header {border-bottom:1px solid #bfc6c6;}
#about-me h2 {color:#ffffff;}
#about-me p {color:#ffffff;}
ul.social li a {color:#ffffff;}#professional-experience {background:#7f8c8d;}
#professional-experience header {border-bottom:1px solid #bfc6c6;}
#professional-experience h2 {color:#ffffff;}
#professional-experience h3 {color:#ffffff;}
#professional-experience p {color:#ffffff;}
#contact {background:#FBDAAA;}#contact header {border-bottom:1px solid #bfc6c6;}
#contact h2 {color:#ffffff;}
#contact h3 {color:#ffffff;}
#contact p {color:#ffffff;}
/********** Footer **********/
.footer {background:#003253;}.footer p {color: #ffffff;}
.footer a {coor: #7f8ba1;}
.footer a:hover {color: #ffffff;}
.progress .meter {background:#003253;border-color:#003253;color:#ffffff;}
#margin {margin-bottom:15px;}
